.navLink a{
    text-decoration: none !important;
    padding: 10px;
}

.darkTheme{
    background-color: #003262;
    color: white !important;
    font-weight: bolder;
}

.darkTheme a{
    color: white !important;
}

.lightTheme{
    background-color: whitesmoke;
    color: black;
    font-weight: bolder;
}

#navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}