.navLink a{
    text-decoration: none !important;
    padding: 10px;
    color: white;
}

.darkTheme{
    background-color: #003262;
    color: white !important;
    font-weight: bolder;
}

.darkTheme .homeNav{
    color: white !important;
}

.lightTheme{
    background-color: whitesmoke;
    font-weight: bolder;
}

.lightTheme a, .lightTheme #dropdownMovies{
    color: #003262 !important;
}

#navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

button#dropdownMovies{
    background-color: transparent;
    border: 0;
}

a.dropdownList{
    color: black !important;
}

.navList{
    display: flex;
    flex-direction: row !important;
}

.login{
    display: flex;
    align-items: center;
}

.login a{
    color: white;
    text-decoration: none;
}

.iconImg{
    width: 25px;
    margin: -10px 0 0 10px;
}