.bannerImg{
    width: 100%;
}

#searchForm{
    display: flex;
     z-index: 1;
     width: 100%;
}


input[type="text"]{
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    color: black;
    width: 75%;
    border: none;
  }

  .btn-hover{
    background-image: linear-gradient(to right, #25aae1, #45e9db, #4beadf, #2bb673);
    width: 100px;
    border: none;
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
  }
  .btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
  }

  #bannerColor{
    background-color: #002B53;
    opacity: 0.6;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    height: 100%;
  }

  #bannerHeading{
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-5%, -30%);
    color: white;
    z-index: 1;
  }

  .title{
    color: #003262;
  }

  #banner .slick-dots{
    z-index: -1 !important;
  }