.dangerPopover .notiContent{
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid rgb(136, 160, 185);
    background-color: skyblue;
    color: rgb(70, 69, 69);
}

.dangerPopover .nonNotiContent{
    margin: 5px 10px;
    color: rgb(70, 69, 69);
}

.dangerPopover .ant-popover-title{
    padding: 0 10px;
    color: #003262;
    font-weight: bolder;
}

.dangerPopover .ant-popover-inner{
    padding: 5px;
}

.iconNotiMess{
    width: 20px;
    margin-top: -5px;
    margin-left: 5px;
}