.movieLink{
    color: black !important;
    text-decoration: none;
    cursor: pointer;
}

.detailInfo{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    height: fit-content;
}

.bg-color{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}

img.posterImg {
    position: relative;
    z-index: 1 !important;
    height: 450px !important;
    width: 280px !important;
}

.filmInfo{
    position: relative;
    z-index: 1 !important;
}

.overview {
    text-align: justify;
}